X:\.it\.micropython\CallButton\esp32\room\call_button_room\.pio
X:\.it\.micropython\CallButton\esp32\room\call_button_room\.vscode\.browse.c_cpp.db*
X:\.it\.micropython\CallButton\esp32\room\call_button_room\vscode\c_cpp_properties.json
X:\.it\.micropython\CallButton\esp32\room\call_button_room\vscode\launch.json
X:\.it\.micropython\CallButton\esp32\room\call_button_room\vscode\ipch
